.intro__texts-info {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__texts-info {
    font-size: 12px;
    line-height: 19px;
  }
}