.cover__bg {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/baikal-dogs.png);
  width: 100%;
  padding-bottom: 10%;
  background-size: cover;
  background-position: center;
}

.cover__bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .2s linear;
  opacity: .3;
  background: #2A2C2F;
}

.cover__bg:hover::after {
  opacity: 0.8;
}