.place__image{
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 767px) {
  .place__image {
    padding: 0 16px 20px;

  }
}

@media screen and (max-width: 425px) {
  .place__image {
    padding: 0 0 20px;
  }
}