@import url(__langs/header__langs.css);
@import url(__logo/header__logo.css);
@import url(__lang/header__lang.css);
@import url(_position/header_position.css);

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding-top: 30px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}