@import url(_place/video__item_place_komchatka.css);
@import url(_place/video__item_place_observatoty.css);

.video__item{
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0px 30px 30px;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  min-height: 323px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.video__item::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition: all .2s linear;
  background: #000000;
  opacity: .5;
}

.video__item:hover::after{
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .video__item {
    min-height: 288px;
  }
}

@media screen and (max-width: 1023px) {
  .video__item {
    min-height: 200px;
    padding: 24px 0px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .video__item {
    padding: 24px 0px 24px 24px;
  }
}

@media screen and (max-width: 374px) {
  .video__item {
    padding: 16px 0px 16px 16px;
  }
}