.footer__copyright {
  margin: 0;
  max-width: 282px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 585px) {
  .footer__copyright {
    margin-top: 25px;
  }
}