@import url(__author/comment__author.css);
@import url(__image/comment__image.css);
@import url(__quote/comment__quote.css);
@import url(__quote-text/comment__quote-text.css);

.comment{
  padding: 0;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}