.video__title{
  max-width: 322px;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  color: #fff;
  margin: 0 0 10px 30px;
  padding: 0;
  z-index: 1;
}