@import url(__title/intro__title.css);
@import url(__subtitle/intro__subtitle.css);
@import url(__content-row/intro__content-row.css);
@import url(__text-author/intro__text-author.css);
@import url(__text-info/intro__text-info.css);
@import url(__text/intro__text.css);
@import url(__texts-info/intro__texts-info.css);
@import url(__author-container/intro__author-container.css);
@import url(__text-accent/intro__text-accent.css);
@import url(_position/intro_position.css);


.intro {
  border: 1px dashed red;
  max-width: 984px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 0 48px 0;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px 0;
  }
}