@import url(_city/additional__item_city_buhta.css);
@import url(_city/additional__item_city_cherepovec.css);
@import url(_city/additional__item_city_lenivec.css);
@import url(_city/additional__item_city_shihan.css);


.additional__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional__item::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}