@import url(__image/place__image.css);
@import url(__paragrath/place__paragrath.css);
@import url(__title/place__title.css);
@import url(__url-heading/place__url-heading.css);
@import url(__url/place__url.css);
@import url(__website/place__website.css);
@import url(__text-container/place__text-container.css);


.place {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-column-gap: 40px;
  grid-row-gap: 55px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-column-gap: 32px;
    grid-row-gap: 45px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: block;
    margin: 0 auto 55px;
  }
}