.comment__image {
  margin-bottom: 35px;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .comment__image {
    margin-bottom: 15px;
  }
}